terraforms/
.DS_Store
.terraform/terraform.tfstate
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/aws/4.61.0/darwin_amd64/terraform-provider-aws_v4.61.0_x5
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.1/darwin_amd64/terraform-provider-null_v3.2.1_x5
.gitignore
